{% extends 'layout.html' %}

{% block CustomCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block body %} 
<form class="form-signin text-center justify-content-center" action="/login" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="85" height="80">
    
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    
    <br />
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    
    {% endif %}
    {% endwith %}
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="use your username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>


{% endblock %}